body{
    font-family: fantasy;
    background-color: #1f1f1f;
    color: white;
    margin: 0;
height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    background-color: #2c2c2c;
border-radius: 20px;
padding: 20px;
box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.259);

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 10px;
}

#coin{
    width: 250px;
    cursor: pointer;
    
&:active {
    scale: 1.1
}
}

#buyUpgrade{
    padding: 20px;
    font-family: fantasy;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.454);
    color: white;
    margin-top: 30px;

    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        box-shadow: 6px 6px 0 0 black;
    }
}


.coin-value{
    transform: 1s;
    font-size: 20px;
}